<li class="row">
  <div class="col-12">
    <div class="form-check d-flex align-items-center">
      <input class="form-check-input" type="checkbox" value="<%= product.shopify_id %>" id="product-<%= product.id %>">
      <label class="form-check-label" for="product-<%= product.id %>">
        <img src="<%= product.featured_image %>"><%= product.title %>
      </label>
    </div>
  </div>
</li>
