{% layout none %}
{% assign grid = <%= @grid&.to_i || 3 %> %}
{% case grid %}
{% when 2 %}
  {%- assign grid_item_width = 'medium-up--one-half' -%}
{% when 3 %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
{% when 4 %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
{% when 5 %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
{% endcase %}
<% if @products.present? %>
	<% @products.each do |product| %>
		{% assign product = all_products["<%= product.handle %>"] %}
		{% assign max_height = <%= @max_height.to_f %> %}
		{% capture show_vendor %}<%= @show_vendor %>{% endcapture %}
		<% card_data = product.product_card_info %>
		{% assign min_qty = <%= card_data[:min_item_order_qty] %> %}
		{% assign price_from = <%= card_data[:min_price] %> %}
		{% assign price_to = <%= card_data[:max_price] %> %}
		<li class="grid__item grid__item--<%= @section_id %> {{ grid_item_width }}" data-p-id="<%= product.id %>" data-product-id="{{product.id}}" data-handle="<%= product.handle %>">
	    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: show_vendor, min_qty: min_qty, price_from: price_from, price_to: price_to %}
	  </li>
	<% end %>
	<% if @next_url.present? %>
		<div class="pagination">
			<a href="<%= @next_url %>" class="next" style="opacity: 0">Next</a>
		</div>
	<% end %>
	<!-- <noscript id="custom_pagination">
		
	</noscript> -->
<% end %>